GadgetAPI/src/main/resources/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://apis.uv.mx/gadgets" xmlns:tns="https://apis.uv.mx/gadgets">
  <xs:element name="CreateGadgetRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="brand" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="platform" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGadgetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:int" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGadgetRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int" />
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="brand" type="xs:string" />
              <xs:element name="model" type="xs:string" />
              <xs:element name="platform" type="xs:string" />
              <xs:element name="price" type="xs:double" />
              <xs:element name="type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGadgetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:int" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGadgetRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGadgetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:int" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGadgetByIdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGadgetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:int" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="allById">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:int" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="brand" type="xs:string" />
              <xs:element name="model" type="xs:string" />
              <xs:element name="platform" type="xs:string" />
              <xs:element name="price" type="xs:double" />
              <xs:element name="type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllGadgetByDataRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="brand" type="xs:string" />
              <xs:element name="model" type="xs:string" />
              <xs:element name="platform" type="xs:string" />
              <xs:element name="price" type="xs:double" />
              <xs:element name="type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllGadgetByDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:int" />
        <xs:element name="message" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="allByData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:int" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="brand" type="xs:string" />
              <xs:element name="model" type="xs:string" />
              <xs:element name="platform" type="xs:string" />
              <xs:element name="price" type="xs:double" />
              <xs:element name="type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllGadgetRequest" />
  <xs:element name="FindAllGadgetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:int" />
        <xs:element name="message" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="allData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:int" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="brand" type="xs:string" />
              <xs:element name="model" type="xs:string" />
              <xs:element name="platform" type="xs:string" />
              <xs:element name="price" type="xs:double" />
              <xs:element name="type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>